.cart{
    display : flex;
    vertical-align: top;
    /* text-align : left;  */
    /* align-items: flex-start; */
    /* align-self: left; */
    flex-direction: row;
}

.hideTotal{
    display:none;
}

.showTotal{
    text-decoration: double underline;
}

.showSubTotal{
    text-decoration: underline;
    font-style: italic;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.columnStyle{
    display:flex;
    /* flex-direction: row; */
    justify-content: space-around;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: brown;
}

.columnItemStyle{
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: nowrap; */
    justify-content: space-around;
    /* align-self: flex-start; */
    background-color: brown;
    height: 150px;
}

.columnItemStyle>p {
    font-weight: bold;
    font-size: larger;
    background: white;
    width: 26.66%;
    
}


.column-image-style{
    /* display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: calc(100%-20px);
    align-self: flex-start;*/
    background-color: brown; 
    width: 200px;
    height: 100px;
    margin-left: 10rem ;
    min-width: 10px;
    margin-top: 10px;
}

.button-style{
    width: 200px;
    height: 50px;
    border-color: brown;
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem;
    font-size: 1.4rem;
    margin-left: 10px;
}

.button-style:hover, .remove-button:hover{
    background-color: burlywood;
    cursor:pointer
}

.remove-button{
    cursor: pointer;
}